@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  /* background-color: #bb9c74; */
  background: linear-gradient(#844d008e, #3a24088e), url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

